.button {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  left:30px;
}

  .animated{
  animation-name: moving-box;
  animation-duration: 25s;
  animation-direction:forwards;
  animation-fill-mode: backwards;
  }   

 @keyframes moving-box {
  from { left: 30px; top: 5px}
  to {left: calc(100% - 160px);}
}

  .running {
  animation-play-state: running;
}

  .paused {
  animation-play-state: paused;
}


.button p {
  background-color: cadetblue;
  position:absolute;
  padding:20px;
  border-radius: 5px;
  text-align: center;
  top:30px;
  left:50px;
}

 .popUpTable{
  width:15%;
  box-shadow: 0 4px 8px 0 rgba(143, 50, 50, 0.2), 0 6px 20px 0 rgba(80, 53, 53, 0.19);
  text-align: center;
  position: relative;
  border-radius: 10px;
  padding:8px;
  color:blueviolet;
  top:100px;
  font-size:15px;
  font-weight: lighter;
  left:50%;
  
}

.popUpTable span{
  font-size: 10x;
  position: absolute;
  top: -5px;
  right: 0;
  cursor: pointer;
  animation: pulse 2s infinite;  
}
.heading{
  font-style: oblique;
  color:blueviolet;
  margin:35px;
  font-size:25px;
}

  

    